body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}
.green{
    color: rgb(66, 243, 81);
}
#name{
    height: 100px;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 38, 38);
    color: rgb(255, 255, 255);
    font-family: Lucida Handwriting;
   
}
.heading{
    
    display: flex;
    width: 100%;
    background-image: url(images/food/Project\ Cover4.png);
    background-blend-mode: darken;
}
h1{
    font-size: 50px;
    margin-left: 5%;   
}
h3{
    
    font-weight: 600;
}

.cyan{
    color: rgb(121, 251, 255);
}
.orange{
    color: orangered;
}
.half-heading{
    width: 50%;
    margin-top: 5%;
   
}
.half-heading img{
    width: 50%;
    margin-top: 5%;
    margin-left: 30%;
    
}

p  {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
        font-weight: 600;
    }
.p-color{
    color: rgb(255, 255, 255);
    font-weight: 700;
}      
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(139, 212, 155), green);
    padding:10px 15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 5%;
}
.facilities{
        display: flex;
        width: 100%;
        background-image: url(images/shapes/Frame\ 59.jpg);
    }
.half-facilities{
    width: 50%;
    margin-top: 5%;
    
   
}
.half-facilities img{
    width: 50%;
    margin-top: 10%;
    margin-left: 10%  
    
}
.relax{
    text-align: center;
}
.advantage{
    display: flex;
    width: 100%;
    padding-bottom: 100px;

}

.category{
    width: 20%;  
    text-align: center;
    margin-left: 10%;
    box-shadow: 10px 15px 40px grey;
    border-radius: 20px;
   
}
.category img{
    width: 80%;
    margin-top: 10%;
}
.follower{
    width: 80%;  
    text-align: center;
    margin-left: 10%;
    box-shadow: 10px 20px 40px grey;
    border-radius: 50px;
    margin-bottom: 10%;
}
.subscriber{
    display: flex;
    width: 100%;
    
}
.social{
    width: 20%;  
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    
}
.reserve{
    text-align: center;
    font-family: monospace;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(183, 245, 12);
    color: rgb(85, 97, 30);
    background-image: url(images/food/Project\ Cover7.png);
}
.sign-up{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(182, 131, 131);
    font-family: cursive;
    
}
#email{
    height: 30px;
    width: 20%;
}
button{
    padding: 10px 15px;
    background-color: black;
    color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;

}
footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 53, 46);
    padding-top: 2%;
    padding-bottom: 5%;
    color: burlywood;
}
